*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    background-color: aqua;
    margin: 50px 0 0;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    overflow: hidden;
}

/* .see1 {
    background-color: bisque;
    transition: transform 0.18s ease;
    width: 100%;
    padding: 40px;
} */

.container.active {
    background-color: red;
}
.container .see1{
    width: 100%;
    padding: 40px;
    background-color: rebeccapurple;
    /* transform: translateX(0); */
}
.container .see2{
    background-color: burlywood;
    width: 100%;
    padding: 40px;
    transition: 0.18s ease;
    transform: translateX(100%);
}

.container.active .see2 {
    transition: 0.18s ease;
    transform: translateX(0);
}
.container.active .see1{
    /* transition: 0.18s ease; */
    transform: translateX(-100%);
    width: 100%;
    padding: 40px;
}


/* .see1, .see2{
    position: absolute;
    width: 100%;
    height: 150px;
    
}
.see1{
    background-color: beige;
    transform: translateX(-100%);
    margin: 0 30px 0;
}

.see2{
    background-color: brown;
    margin: 0 -30px 0;
}
.container.active{
    background-color: red;
}
.container.active .see2{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.container.active .see1{
    transition: none;
    transform: translateX(0);
} */

